extends ../layout

block content
  h1 theBook.name
  .row
    .two.columns
      a(href='/books' + theBook.id, <='', a='')
        img(src= books.books_url)
    .eight.columns
      h4.books_title= books.title
      h5.authors= books.authors
      h6.books_desc= books.description
    h6.books_genre Language: #{books.genre}
    a(href='authors/:id') Authors
