extends ../layout

block content
  h1 Authors
  for author in allAuthors
    .row
      .two.columns
        a(href='/authors/'+ author.id, <='', a='')
          img(src= author.authors_url)
      .eight.columns
        //- a(href='/authors' + author.id)
        h4.author_name= author.first + ' ' + author.last + ' '
        h5.author_books Books: 
        h6.author_bio= author.bio
      a(href='books/:id') Books
          
              
      
  
  
  
