extends ../layout

block content
  h1 New Author
  
  form(action="/authors", method="post")
    div
      label First Name
      input(type="text" name="first")
    div
      label Last Name
      input(type="text" name="last")
    div
      label Portrait URL
      input(type="text" name="authors_url")
    div
      label Biography
      textarea(type="text" name="bio")
    div
      input(class='button-primary' type='submit' name='add_author')
      
    
      
    
    
      
