extends ../layout

block content
  h1 SHOW.Author
    .row
      .two.columns
        a(href='', a='')
        img(src= theAuthor.authors_url)
      .eight.columns
        h4.author_name #{theAuthor.first} #{theAuthor.last}
        h5.author_books Books: #{theAuthor.books}
        h6.author_bio #{theAuthor.bio}
      .two.columns  
        a(href="/authors" + theAuthor.id + '/update')
          button(type="submit") Edit
        form(action="/authors/" + theAuthor.id + '/delete?_method=delete' method="post")
          button(type="submit") Delete
      
  
